<section class="bg-primary" id="calendar">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center">
                <h2 class="section-heading">Kdo a kdy tlačí?</h2>
                <hr class="light">
                <p class="text-faded">Vyplnil si formulář, potvrdili jsme ti termín, ale v kalendáři to nevidíš? Nejlepší bude, když nás budeš kontaktovat.</p>
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FPrague&amp;src=dWpqYmticHZka2tuc2FmZWU2ZHBranU1NHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23AD1457&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;showTitle=0" style="border:solid 1px #777" width="100%" height="480" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="col-lg-4 col-lg-offset-1 text-center">
                <h2 class="section-heading">Kontakty</h2>
                <hr class="light">
                <p class="text-faded">Cheš se s námi spojit? Ideálně nám napiš na Messengeru buďto <a href="https://www.facebook.com/jana.bachova.3/" target="_blank" class="btn-primary">Janě</a>, nebo <a href="https://www.facebook.com/Waletol/" target="_blank" class="btn-primary">Martinovi</a>.</p>
                <hr class="light">
            </div>
            <div class="col-lg-4 col-lg-offset-1 text-center">
                <hr>
                <i class="fa fa-5x fa-heart"></i>
            </div>
        </div>
    </div>
</section>