<section class="bg-primary" id="calendar">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kdo a kdy tlačí?</h2>
                <hr class="light">
                <p class="text-faded">Vyplnil si formulář, potvrdili jsme ti termín, ale v kalendáři to nevidíš? Nejlepší bude, když nás budeš kontaktovat.</p>
                <iframe src="https://calendar.google.com/calendar/embed?src=ujjbkbpvdkknsafee6dpkju54s%40group.calendar.google.com&ctz=Europe%2FPrague" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</section>
