<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>I am Once Again Asking</h1>
            <hr>
            <p>Ahoj! Jsme Jana a Martin, bydlíme v Brně daleko od rodičů a jediný sociální kapitál jste Vy, naši kamarádi.</p>
            <button>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Chci tlačit!</a><svg class="bi bi-suit-heart-fill" fill="currentColor"></svg>
            </button>
        </div>
    </div>
</header>
