<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://goo.gl/maps/nGHH3gZzabiQfdPc8" class="portfolio-box">
                    <img src="img/portfolio/spilberk.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Špilberk
                            </div>
                            <div class="project-name">
                                Sem můžeš jít tlačit
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/CafeBarAtlas" class="portfolio-box">
                    <img src="img/portfolio/atlas.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Café Atlas
                            </div>
                            <div class="project-name">
                                Sem si s Prokopem můžeš skočit na kávu
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=UUGqHatcvvw&ab_channel=HowtoDAD" class="portfolio-box">
                    <img src="img/portfolio/pram1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Spokojenost
                            </div>
                            <div class="project-name">
                                Prokopovi se jízda v kočárku líbí
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/bluedemonbistro/" class="portfolio-box">
                    <img src="img/portfolio/demon.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tacos!!!
                            </div>
                            <div class="project-name">
                                Během tlačení můžeš skočit doplnit energii do Blue Demon Bistro
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.urbandictionary.com/define.php?term=Flex" class="portfolio-box">
                    <img src="img/portfolio/pram.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Flexení
                            </div>
                            <div class="project-name">
                                Takhle můžeš flexit s kočárkem v parku
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.linkedin.com/" class="portfolio-box">
                    <img src="img/portfolio/family.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Zkušenosti
                            </div>
                            <div class="project-name">
                                Získáš nové zkušenosti, které můžeš využít ve svém budoucím životě
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
